html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: cornflowerblue;
}

::-o-scrollbar {
  width: 10px;
}

::-o-scrollbar-track {
  background: rgb(0,0,0,0);
}

::-o-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

::o-scrollbar-thumb:hover {
  background: cornflowerblue;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: rgb(0,0,0,0);
}

::-moz-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

::-moz-scrollbar-thumb:hover {
  background: cornflowerblue;
}

body {
  margin: 0;
  background-color: #2a2828;
  overflow: overlay;
}

h2 {
  font-family: Trebuchet MS;
  color: #A6A6A6;
  margin: 6%;
}

h3 {
  font-family: Trebuchet MS;
  color: #A6A6A6;
  margin: 6%
}

p {
  font-family: Trebuchet MS;
  color: #A6A6A6;
  margin: 6%;
  line-height: 150%;
}

img {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  transition: ease-in-out;
}

img:hover {
  transform: translate(0px, 20px)
}
    

.link:link {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: none;
}

.link:visited {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: none;
}

.link:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.link:active {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: underline;
}

button {
  border: 0;
  width: 160px;
  margin: 40px 10px 20px 10px;
  background-color: rgb(0,0,0,0); 
  color: cornflowerblue; p
  adding: 12px 24px; font-size: 16px; 
  cursor: pointer; 
  border-radius: 16px;
}

button:hover {
  background-color: cornflowerblue;
  color: black;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
            
span {
  color: #770028;
}

.fade_in {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

-webkit-blockquote {
  border-left: 4px solid #ccc;
}

-moz-blockquote {
  border-left: 4px solid #ccc;
}

-o-blockquote {
  border-left: 4px solid #ccc;
}
